<div class="dashboard" ng-init="initialize()">
	<div class="overauto" style="font-size: 24px; height: 85px; line-height: 85px;">
		<div class="left width10 center"><img src="images/rubik_cube_80_80.png" /></div>
		<div class="left width90" style="vertical-align: middle; font-weight: bold;">Rubik's
		
			<div class="right width30" style="font-size: 14px;padding-right: 15px;">
				<div class="left width50">High Availability <input type="checkbox" ng-model="highAvailability"></input></div>
				<div class="left width50" ng-if="highAvailability" style="line-height: 40px;">
					<div>{{rubiksData.cube_kafka_message.cubeTaskReport.runtimeMXBean}}</div>
					<div>{{rubiksData.cube_kafka_message.cubeTaskReport.hostname}}</div>
				</div>
			</div>
		</div>
	</div>
	<div style="background-color: #fff; height: 10px"></div>
	<div class="overauto" >
		<div class="left width40" >
			<div>
				<div class="overauto">
					<rubkisspace></rubkisspace>
					<div class="left" >
						<div style="padding: 5px">
							<div style="overflow: auto;">
								<div class="rubiksMenu rubiksHorizontalMenu">
									<div class="rubiksSquare" ng-click="moveCube('vertical_north_south', 'left', 'clockwise')" ><img src="images/arrow-down_30_30.png" /></div>
								</div>
								<div class="rubiksMenu rubiksHorizontalMenu">
									<div class="rubiksSquare" ng-click="moveCube('vertical_north_south', 'center', 'clockwise')" ><img src="images/arrow-down_30_30.png" /></div>
								</div>
								<div class="rubiksMenu rubiksHorizontalMenu">
									<div class="rubiksSquare" ng-click="moveCube('vertical_north_south', 'right', 'clockwise')" ><img src="images/arrow-down_30_30.png" /></div>
								</div>
							</div>
						</div>
						<rubiksface facedata="rubiksData.cube_faces.north"></rubiksface>
					</div>
				</div>
				<div style="overflow: auto;">
					<div style="float: left">
						<div style="padding: 5px">
							<div class="rubiksMenu rubiksSquareContainer">
								<div class="rubiksSquare" ng-click="moveCube('vertical_east_west', 'left', 'clockwise')" ><img src="images/arrow-right_30_30.png" /></div>
							</div>
							<div class="rubiksMenu rubiksSquareContainer">
								<div class="rubiksSquare" ng-click="moveCube('vertical_east_west', 'center', 'clockwise')" ><img src="images/arrow-right_30_30.png" /></div>
							</div>
							<div class="rubiksMenu rubiksSquareContainer">
								<div class="rubiksSquare" ng-click="moveCube('vertical_east_west', 'right', 'clockwise')" ><img src="images/arrow-right_30_30.png" /></div>
							</div>
						</div>
					</div>
					<div style="float: left">
						<div style="overflow: auto;">
							<div style="float: left; overflow: auto;" ><rubiksface facedata="rubiksData.cube_faces.east"></rubiksface></div> 
							<div style="float: left; overflow: auto;" ><rubiksface facedata="rubiksData.cube_faces.front"></rubiksface></div> 
							<div style="float: left; overflow: auto;" ><rubiksface facedata="rubiksData.cube_faces.west"></rubiksface></div>
						</div>
					</div>
					<div style="float: left">
						<div style="padding: 5px">
							<div class="rubiksMenu">
								<div class="rubiksSquare" ng-click="moveCube('vertical_east_west', 'left', 'reverse clockwise')" ><img src="images/arrow-left_30_30.png" /></div>
							</div>
							<div class="rubiksMenu">
								<div class="rubiksSquare" ng-click="moveCube('vertical_east_west', 'center', 'reverse clockwise')" ><img src="images/arrow-left_30_30.png" /></div>
							</div>
							<div class="rubiksMenu">
								<div class="rubiksSquare" ng-click="moveCube('vertical_east_west', 'right', 'reverse clockwise')" ><img src="images/arrow-left_30_30.png" /></div>
							</div>
						</div>
					</div>
				</div>
				<div class="overauto">
					<rubkisspace></rubkisspace>
					<div class="left" >
						<rubiksface facedata="rubiksData.cube_faces.south"></rubiksface>
						<div style="padding: 5px">
							<div style="overflow: auto;">
								<div class="rubiksMenu rubiksHorizontalMenu">
									<div class="rubiksSquare" ng-click="moveCube('vertical_north_south', 'left', 'reverse clockwise')" ><img src="images/arrow-up_30_30.png" /></div>
								</div>
								<div class="rubiksMenu rubiksHorizontalMenu">
									<div class="rubiksSquare" ng-click="moveCube('vertical_north_south', 'center', 'reverse clockwise')" ><img src="images/arrow-up_30_30.png" /></div>
								</div>
								<div class="rubiksMenu rubiksHorizontalMenu">
									<div class="rubiksSquare" ng-click="moveCube('vertical_north_south', 'right', 'reverse clockwise')" ><img src="images/arrow-up_30_30.png" /></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="overauto">
					<rubkisspace></rubkisspace>
					<div class="left" ><rubiksface facedata="rubiksData.cube_faces.back"></rubiksface></div>
				</div>
			</div>
		</div>
		<div class="left width20" >
			<div class="overauto" style="padding: 0 20px;">
				<div class="left" style="padding: 5px">
					<div class="rubiksMenu">
						<div class="rubiksSquare" ng-click="moveCube('horizontal', 'top', 'clockwise')" ><img src="images/arrow-rotate-clockwise_30_30.png" /></div>
					</div>
					<div class="rubiksMenu">
						<div class="rubiksSquare" ng-click="moveCube('horizontal', 'middle', 'clockwise')" ><img src="images/arrow-rotate-clockwise_30_30.png" /></div>
					</div>
					<div class="rubiksMenu">
						<div class="rubiksSquare" ng-click="moveCube('horizontal', 'bottom', 'clockwise')" ><img src="images/arrow-rotate-clockwise_30_30.png" /></div>
					</div>
				</div>
				<div class="left" style="padding: 5px">
					<div class="rubiksMenu">
						<div class="rubiksSquare" ng-click="moveCube('horizontal', 'top', 'reverse clockwise')" ><img src="images/arrow-rotate-anticlockwise_30_30.png" /></div>
					</div>
					<div class="rubiksMenu">
						<div class="rubiksSquare" ng-click="moveCube('horizontal', 'middle', 'reverse clockwise')" ><img src="images/arrow-rotate-anticlockwise_30_30.png" /></div>
					</div>
					<div class="rubiksMenu">
						<div class="rubiksSquare" ng-click="moveCube('horizontal', 'bottom', 'reverse clockwise')" ><img src="images/arrow-rotate-anticlockwise_30_30.png" /></div>
					</div>
				</div>
			</div>
			<div style="line-height: 30px; font-size: 16px;">
				<div><b>Game</b></div>
				<div style="cursor:pointer;" ng-click="moveCubeMagicMove('mixCube');" >Mix Cube</div>
				<div style="cursor:pointer;" ng-click="moveCubeMagicMove('referenceCubeMix');" >Reference Mix Cube</div>
				<div><b>First Floor</b> 
					<img src="images/validated_20_20.png" ng-if="rubiksAnalysis.is_first_floor_done" />
				</div>
				<div style="cursor:pointer;" ng-click="moveCubeMagicMove('frontCrossSideReverse');" >Front Cross Side Reverse
					<img src="images/validated_20_20.png" ng-if="rubiksAnalysis.is_front_cross_done" />
				</div>
				<div style="cursor:pointer;" ng-click="moveCubeMagicMove('sexyMoveLeft');" >Sexy Move Left</div>
				<div style="cursor:pointer;" ng-click="moveCubeMagicMove('sexyMoveRight');" >Sexy Move Right</div>
				<div><b>Second Floor</b>
					<img src="images/validated_20_20.png" ng-if="rubiksAnalysis.is_second_floor_done" />
				</div>
				<div style="cursor:pointer;" ng-click="moveCubeMagicMove('belgiumMoveLeft');" >Belgium Move Left</div>
				<div style="cursor:pointer;" ng-click="moveCubeMagicMove('belgiumMoveRight');" >Belgium Move Right</div>
				<div><b>Third Floor</b></div>
				<div style="cursor:pointer;" ng-click="moveCubeMagicMove('backCrossBuilding');" >Back Cross Building</div>
				<div style="cursor:pointer;" ng-click="moveCubeMagicMove('backCrossOrienting');" >Back Cross Orienting</div>
				<div style="cursor:pointer;" ng-click="moveCubeMagicMove('elevatorMove');" >Elevator Move</div>
				<div style="cursor:pointer;" ng-click="moveCubeMagicMove('doubleChairMove');" >Double Chair Move</div>
			</div>
		</div>
		<div class="left width40">
			<div style="height: 48px;text-align: center;line-height: 48px;"><b>Back view</b></div>
			<div class="overauto">
				<rubkisspace zone="'right'"></rubkisspace>
				<div class="left" ><rubiksface facedata="rubiksData.cube_faces.south"></rubiksface></div>
			</div>
			<div style="overflow: auto;padding: 10px;" >
				<div style="float: left; overflow: auto;" ><rubiksface facedata="rubiksData.cube_faces.east_reverse"></div>
				<div style="float: left; overflow: auto;" ><rubiksface facedata="rubiksData.cube_faces.back"></rubiksface></div>
				<div style="float: left; overflow: auto;" ><rubiksface facedata="rubiksData.cube_faces.west_reverse"></div>
			</div>
			<div class="overauto">
				<rubkisspace zone="'right'"></rubkisspace>
				<div class="left" ><rubiksface facedata="rubiksData.cube_faces.north"></rubiksface></div>
			</div>
		</div>
		
	</div>
</div>