.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.search-app {
	overflow: auto;
	font-size: 18px;
	padding: 10px;
}

.aggregations {
	float: left;
	width: 25%
}

.aggregation {
	padding: 5px;
	text-align: left;
}

.aggregation .header {
	line-height: 40px;
	background-color: #61DAFB;
	padding: 0 5px;
}

.aggregation .content {
	padding: 5px 0 0 0;
}

.aggregation .item {
	cursor: pointer;
	line-height: 24px;
}

.aggregation .selected {
	background-color: #ddd;
	font-weight: bold;
}

.results {
	float: left; 
	width: 75%;
}

.results .content {
	padding: 5px;
}

.results .headerBox {
	float: left;
	width: 30%;
	height: 50px;
}

.results .headerBox .content {
	border: 1px solid #000;
	line-height: 28px;
}

.results .pagerItem {
	padding: 0 10px;
}

.results .actionale {
	cursor: pointer;
}

.results .result {
	border-bottom: 1px solid #000;
}

.results .result .metadata {
	float: left;
	width: 30%;
	height: 50px;
	line-height: 50px;
}